
.custom-date-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--primary-color);
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    background-color: var(--white);
  }
  
  .custom-date-input .calendar-icon {
    margin-left: 10px;
    color: var(--primary-color);
  }
  
  
  