.login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login form {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--primary-color);
  border-radius: 1rem;
  padding: 2rem;
  font-size: 1rem;
  gap: 1rem;
}
.login form input {
  padding: 0.5rem 1rem;
  width: 100%;
  font-size: 1em;
  border-radius: 0.5rem;
  border: 1px solid var(--grey);
}
.login form button {
  width: 50%;
  padding: 0.3rem;
  background-color: var(--black);
  color: var(--white);
  border-radius: 0.3rem;
  cursor: pointer;
}
.login form button:hover {
  color: var(--black);
  background: none;
  border: 1px solid var(--black);
}

.login .register {
  color: var(--primary-color);
  padding-left: 0;
}
.login .register:hover {
  color: var(--tertiary-color);
}
